body {
    margin: 0;
    padding: 0;
    background-color: #f1eded;
}

.image img {
    width: 100%;
    max-height: 250px;
}

.create-account-container {
    background: white;
    max-width: 400px;
    margin: 20px auto 0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    margin: 10px 0 5px;
    font-weight: bold;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 0 10px 0 black;
}

button:hover {
    background-color: #218838;
}

.options {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 14px;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#error-message {
    color: red;
    display: none;
    font-size: 14px;
    margin-top: 10px;
}
